body
{
	background-color : #000000; 
}
header
{
	background-color : #262626;
	height : 100px;
	color : white;
}
header img
{
	margin : 15px 0px 0px 50px;
}
header button
{
	margin : 30px 30px 0px ;
	height : 40px;
	font-size : 15px;

}
.menuP
{
	background-color : #0d0d0d;
	height : 50px;
}
.menuP a 
{
	color :  #ffffff;
	border-radius : 0;
	font-size : 15px;
	padding : 15px 0px 0px 0px;
}
.menuP a:hover
{
	color :  #000000;
	background-color : #ffffff;
}
.presentation
{
	height : 700px; 
	background-color : #262626;
}
.presentation p 
{
	color : #ffffff;
	font-size : 21px;
}

.produit
{
	height: 850px;
	padding : 50px 0 50px 0;
	background-color : #088A08;
	
}

.tuile 
{
	height : 250px;
}

.tuile img 
{
	width : 100%;
	height : auto;
	
}

	