body
{
	background-color : #000000; 
}
header
{
	background-color : #262626;
	height : 100px;
	color : white;
}
header img
{
	margin : 15px 0px 0px 50px;
}
header button
{
	margin : 30px 30px 0px ;
	height : 40px;
	font-size : 4em;

}
