html body
{
	background-color : #6441a5; 
}

#carouselExampleControls
{
	height : 400px;
}

.autoSize
{
	height : auto; 
}

.x50
{
	height : 50px;
	width  : 50px;
}

.bg-purple-light
{
	background-color : #b9a3e3;
}

.bg-gray-light
{
	background-color : #f1f1f1;
}

.height100
{
	height : 100px;
}

.tuile_boutique
{
	padding : 15px;
}