html body
{
	background-color : #6441a5; 
}

.textCenter
{
margin :25px auto;
float: none;
}

#carouselExampleControls
{
	height : 400px;
}

.autoSize
{
	height : auto; 
}

.x50
{
	height : 50px;
	width  : 50px;
}

.x100
{
	height : 100px;
	width  : 100px;
}

.x200
{
	height : 200px;
	width  : 200px;
}

.h1_title_section
{
	color : white;
}

.h1_title_section_black
{
	color : black;
}

.bg-purple-light
{
	background-color : #b9a3e3;
}

.bg-white
{
	background-color: white;
}

.bg-dark-grey
{
	background-color : #262626;
}

.bg-gray-light
{
	background-color : #f1f1f1;
}

.height100
{
	height : 200px;
}

.tuile_boutique
{
	padding : 15px;
	transition: all .4s ease-in-out;
}

.tuile_boutique:hover 
{ 
	transform: scale(1.1); 
}

.padding-top-bottom-60
{
	padding-top    : 30px;
	padding-bottom : 30px;
}

.padding-top-bottom-10
{
	padding-top    : 10px;
	padding-bottom : 10px;
}

.padding-left_right-15
{
	padding-left : 15px;
	padding-right: 15px;
}

.height_70
{
	height : 70%;
}

.height_30
{
	height : auto; 
	background-color : #262626;
	color : white;
}

.post_it
{
	margin-top	 : 25px;
	padding-left : 25px;
	font-size : 17px;
}

.post_it p 
{
	margin-top : 10px;
	margin-bottom : 6px;
}

.black_18px
{
	color : black;
	font-size: 18px;
}

.padding_30px
{
	padding : 30px;
}

.a-center
{
	text-align : center;
}

.white_18px
{
	color : white;
	font-size: 18px;
}

.white_7px
{
	color : white;
	font-size: 7px;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color : #262626; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.margin_bottom_25
{
	margin-bottom: 25px;
}